.article {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    border: aqua 2px solid;
    padding: 15px;
    font-family: "Roboto";

    margin-top: 15px;

    @media (max-width:701px) {
        flex-direction: column;
    }

    &__link {
        display: block;
        min-width: 300px;
        @media (max-width:701px) {
            width: 300px;
            margin: 0 auto;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
    }

    &__header {
        font-size: 1.5rem;
        font-weight: 700;
    }

    &__desc {
        min-width: 240px;
        font-size: 1rem;
        margin-top: 10px;
    }

    &__date {
        font-weight: 500;
        font-size: 1.3rem;
        margin-top: auto;

        @media (max-width:890px) {
            margin-top: 15px;
        }
    }

    &__delete-button {
        position: absolute;
        background: none;
        outline: none;
        border: none;
        top: 15px;
        right: 15px;
        color: red;
        cursor: pointer;
        font-size: 1.2rem;
    }

    &__comment-form {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    &__comment-textarea {
        resize: none;
        max-width: 600px;
        height: 40px;
        font-family: "Roboto";
        font-size: 1rem;
    }

    &__comment-submit {
        width: fit-content;
        height: 40px;
        border-radius: 20px;
        padding: 5px 10px;
        margin-top: 10px;

        border: none;
        background-color: rgb(112, 230, 112);
        cursor: pointer;

        font-family: "Roboto";
        font-size: 1.1rem;

        &:hover {
            background-color: rgb(82, 207, 82);
        }
    }

    &__comments-list {
        margin-top: 20px;
        border-left: 2px solid rgb(201, 201, 201);
    }

    &__comments-heading {
        margin-top: 10px;
        font-size: 1.7rem;
        padding-left: 10px;
    }

    &__comment {
        position: relative;


        &::before {
            content: "__";
            position: absolute;
            color: rgb(201, 201, 201);
            font-size: 1.4rem;
            line-height: 0;
            top: 0.2rem;
            left: -32px;
            top: 10px;

        }
    }
}

.edit-link {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    top: 15px;
    right: 40px;
    width: 20px;
    height: 20px;
    color: black;
    cursor: pointer;
}

.link-to-article {
    text-decoration: none;
    color: black;
}

.article-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__label {
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: 10px;
    }

    &__input {
        font-size: 1.1rem;
        margin-top: 5px;
        width: 100%;
        max-width: 600px;
    }

    &__textarea {
        resize: none;
        margin-top: 5px;
        height: 100px;
        width: 100%;
        max-width: 600px;
        font-size: 1.1rem;
    }

    &__submit-button {
        width: fit-content;
        height: 50px;
        border-radius: 20px;
        padding: 5px 10px;
        margin-top: 10px;

        border: none;
        background-color: rgb(112, 230, 112);
        cursor: pointer;

        font-family: "Roboto";
        font-size: 1.1rem;

        &:hover {
            background-color: rgb(82, 207, 82);
        }

    }
}

.comment {
    margin-left: 30px;
    border: 1px solid rgb(230, 230, 230);
    margin-top: 10px;
    font-size: 1.4rem;
    padding: 10px;

    &__edit-link {
        top: 10px;
    }
}
