* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    font-family: "Roboto";
}

.section {
    padding-top: 20px;
}

.section__header {
    text-align: center;

    font-size: 2rem;
    font-weight: 600;
    font-family: "Roboto";
}

.section__text {
    text-align: center;

    font-size: 1.5rem;
    font-weight: 600;
    font-family: "Roboto";
    margin-top: 20px;
}

.error {
    color: red;
}

.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #dddddd;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;
}